@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}
body {
    background: orange;
}
.header {
    /* background: green; */
    display: flex;
    flex-direction: column;
    padding: var(--space-layout-lr);
    padding-top: 8px;
    padding-bottom: 8px;
}
.header__app {
    /* background: red; */
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header__app img {
    width: 20px;
}
.article__nameApp {
    display: flex;
    /* background: orange; */
    width: 120px;
    justify-content: space-between;
}
.article__nameApp p {
    font-family: "Poppins-SemiBold";
}
.article__nameApp img {
    width: 30px;
}


.footer {
    background: red;
    bottom: 0;
    width: 100%;
    position: fixed;
}
.section__footer {
    display: flex;
    justify-content: space-between;
    padding: var(--space-layout-lr);
    height: 80px;
}
.section__footer a {
    display: flex;
}
.section__footer img {
    width: 30px;
}
.article__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: yellow; */
    padding-top: 25px;
}
.article__footer img:first-child  {
    padding-bottom: 8px;
}
.article__footer img:last-child {
    width: 10px;
}