@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    background: var(--color-1);
}
.section__background {
    background: var(--color-3);
    position: absolute;
    z-index: -1;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    top: -40px;
}
.section__background img {
    width: 100%;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    top: -40px;
    opacity: 25%;
}
.header {
    /* background: green; */
    display: flex;
    flex-direction: column;
    padding: var(--space-layout-lr);
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--color-1);
}
.header__app {
    /* background: red; */
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header__app img {
    position: relative;
    width: 20px;
    filter: invert(100%);
}
.article__nameApp {
    display: flex;
    /* background: orange; */
    width: 120px;
    justify-content: space-between;
}
.article__nameApp p {
    font-family: "Poppins-SemiBold";
}
.article__nameApp img {
    position: relative;
    width: 30px;
}
.section__balance {
    /* background: yellow; */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: var(--color-3);
}
.article__description {
    background: var(--color-2);
    height: 180px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    margin-bottom: 20px;
}
.article__description h2 {
    font-family: "Poppins-SemiBold";
    font-size: 22px;
    width: 100px;
    text-align: center;
    /* background: yellow; */
}
.article__description div small {
    font-family: "Poppins-Regular";
}
.article__description div span {
    font-family: "Poppins-SemiBold";
    font-size: 23px;
}
.article__description div p {
    font-family: "Poppins-Regular";
    font-size: 16px;
    text-align: center;
}
.section__bottons {
    /* background: red; */
    padding: var(--space-layout-lr);
    margin-bottom: 20px;
}
.article__bottons {
    display: flex;
    justify-content: space-around;
    color: var(--color-3);
}
.article__bottons p {
    /* background: yellow; */
    width: 80px;
    text-align: center;
    height: 30px;
    padding-top: 3px;
    border-radius: 15px;
    font-family: "Poppins-Regular";
    font-size: 15px;
    border: 2px solid var(--color-3);
    opacity: 100%;
    transition: all 0.5s ease;
}
.article__bottons p:hover {
    color: var(--color-1);
    background: var(--color-3);
}
.section__graphic {
    padding: var(--space-layout-lr);
    margin-bottom: 10px;
}
.section__graphic img {
    width: 100%;
}
.article__days {
    display: flex;
    justify-content: space-around;
}
.article__days h5 {
    font-family: "Poppins-Regular";
}
.section__tips {
    background: var(--color-2);
    padding: var(--space-layout-lr);
    padding-bottom: 70px;
}
.section__tips h3 {
    font-family: "Poppins-SemiBold";
    margin-bottom: 5px;
}
.article__items {
    display: flex;
    /* background: yellow; */
    padding: 10px 0 10px 0px;
}
.tips__item {
    display: flex;
    justify-content: space-between;
    /* background: yellow; */
    border-radius: 15px;
    height: 140px;
    padding-right: 12px;
}
.tips__item img:first-child{
    width: 140px;
    margin-right: 5px;
    padding-right: 30px;
}
.tips__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tips__description h4,
.tips__description small {
    font-family: "Poppins-Regular";
}
.tips__description h4 {
    color: var(--color-3);
    font-size: 20px;
}
.tips__description small {
    color: var(--color-3);
    font-size: 12px;
    margin-bottom: 10px;
}
.tips__description div {
    background: var(--color-3);
    width: 123px;
    height: 35px;
    text-align: center;
    border-radius: 20px;
    padding-top: 5px;
}
.tips__description div small {
    color: var(--color-1);
}
.tips__description div small {
    font-size: 14px;
}
.tips__item img:last-child {
    width: 30px;
    align-self: flex-start;
}
.footer {
    background: var(--color-3);
    bottom: 0;
    width: 100%;
    position: fixed;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0px 0px 25px 1px var(--color-3);
}
.section__footer {
    display: flex;
    justify-content: space-around;
    padding: var(--space-layout-lr);
    height: 80px;
}
.section__footer a {
    display: flex;
    opacity: 15%;
}
.section__footer img {
    width: 30px;
}
.article__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: yellow; */
    padding-top: 25px;
}
.article__footer img:first-child  {
    padding-bottom: 8px;
}
.article__footer img:last-child {
    width: 10px;
}
