@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}
body {
    background: var(--color-3);
    overflow-x: hidden;
}
.section__background {

}
.section__background img {
    position: absolute;
    z-index: -1;
    opacity: 25%;
    width: 160%;
}
.header {
    /* background: green; */
    display: flex;
    flex-direction: column;
    padding: var(--space-layout-lr);
    padding-top: 8px;
    padding-bottom: 8px;
}
.header__app {
    /* background: red; */
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header__app img {
    width: 20px;
    filter: invert(100%);
}
.article__nameApp {
    display: flex;
    /* background: orange; */
    width: 120px;
    justify-content: space-between;
}
.article__nameApp p {
    color: var(--color-1);
    font-family: "Poppins-SemiBold";
}
.article__nameApp img {
    width: 30px;
}
.header__welcome {
    color: var(--color-1);
    /* background: gray; */
    margin-bottom: 10px;
}
.header__welcome p:first-child {
    font-family: "Marstain";
    font-size: 90px;
    /* background: orange; */
}
.header__welcome p {
    /* background: yellow; */
    font-size: 17px;
    font-family: "Poppins-Regular";
}
.header__welcome p:last-child {
    font-size: 23px;
}
.header__check {
    color: var(--color-1);
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.article__check {
    /* background: pink; */
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 8px;
}
.article__check p {
    font-family: "Poppins-SemiBold";
    font-size: 20px;
}
.article__check span {
    font-family: "Poppins-Regular";
}
.article__check span strong {
    font-family: "Poppins-Regular";
}
.article__check img {
    width: 150px;
}

.section__content {
    background: var(--color-1);
    height: auto;
    overflow: scroll;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: var(--space-layout-tlrb);
    color: var(--color-3);
}
.article__activity h3 {
    font-family: "Poppins-SemiBold";
}
.article__activities {
    display: flex;
    /* background: yellow; */
    overflow-x: scroll;
    height: 170px;
    padding: 10px 0 10px 10px;
}
.article__item {
    background: var(--color-1);    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 18px;
    margin-right: 16px;
    border-radius: 15px;
    box-shadow: 0px 0px 25px -8px;
}
.article__item img {
    width: 60px;
    margin-bottom: 5px;
}
.article__item p {
    /* background: orange; */
    display: flex;
    justify-content: center;
    width: 68px;
    font-size: 15px;
    font-family: "Poppins-Regular";
}
.article__transaction {
    
}
.article__transaction h3 {
    font-family: "Poppins-semiBold";
}
.article__transactions {
    display: flex;
    /* background: yellow; */
    margin-bottom: 5px;
}
.article__transactions img{
    width: 60px;
    margin-right: 5px;
}
.article__transitem {
    display: flex;
    width: 100%;
    /* background: paleturquoise; */
    justify-content: space-between;
}
.article__transitem div:last-child {
    text-align: right;
}
.trans__item {
    /* background: lime; */
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.trans__item h4,
.trans__item small {
    font-family: "Poppins-Regular";
}
.trans__item h4 {
    font-size: 15px;
}
.trans__item small {
    font-size: 12px;
}

.footer {
    background: var(--color-3);
    bottom: 0;
    width: 100%;
    position: fixed;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.section__footer {
    display: flex;
    justify-content: space-around;
    padding: var(--space-layout-lr);
    height: 80px;
}
.section__footer a {
    display: flex;
    opacity: 15%;
}
.section__footer img {
    width: 30px;
}
.article__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: yellow; */
    padding-top: 25px;
}
.article__footer img:first-child  {
    padding-bottom: 8px;
}
.article__footer img:last-child {
    width: 10px;
}

