@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}
body {
    background: orange;
}
.header {
    /* background: green; */
    display: flex;
    flex-direction: column;
    padding: var(--space-layout-lr);
    padding-top: 8px;
    padding-bottom: 8px;
}
.header__app {
    /* background: red; */
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header__app img {
    width: 20px;
}
.article__nameApp {
    display: flex;
    /* background: orange; */
    width: 120px;
    justify-content: space-between;
}
.article__nameApp p {
    font-family: "Poppins-SemiBold";
}
.article__nameApp img {
    width: 30px;
}
.header__welcome {
    /* background: gray; */
    margin-bottom: 10px;
}
.header__welcome h1 {
    font-family: "Marstain";
    font-size: 80px;
    /* background: orange; */
}
.header__welcome p {
    /* background: yellow; */
    font-size: 13px;
    font-family: "Poppins-Regular";
}
.header__check {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.article__check {
    /* background: pink; */
    display: flex;
    flex-direction: column;
    width: 45%;
}
.article__check p {
    font-family: "Poppins-Regular";
    font-size: 20px;
}
.article__check span {

}
.article__check img {
    width: 150px;
    filter: invert(100%);
}

.section__content {
    background: white;
    height: 1000px;
    overflow: scroll;
    border-radius: 50px;
    padding: var(--space-layout-tlr);
}
.section__content h3 {
    font-family: "Poppins-SemiBold";
}
.article__activities {
    display: flex;
    /* background: yellow; */
    overflow-x: scroll;
    height: 170px;
    padding: 10px 0 10px 10px;
}
.article__item {
    /* background: yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 18px;
    margin-right: 16px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px -8px;
}
.article__item img {
    width: 60px;
    margin-bottom: 5px;
}
.article__item p {
    /* background: orange; */
    display: flex;
    justify-content: center;
    width: 68px;
    font-size: 15px;
    font-family: "Poppins-Regular";
}