:root{
    --space-layout-lr: 0px 15px 0 15px;
    --space-layout-tlrb: 25px 15px 80px 15px;
    --color-1: #FFFFFF;
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../storage/font/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../storage/font/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Marstain";
    src: url(../storage/font/Marstain/Marstain-nRB9M.ttf);
}

