<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="../css/cards.css">
</head>
<body>
    <header class="header">
        <div class="header__app">
            <article class="article__nameApp">
                <img src="../storage/img/fast.svg">
                <p>Runner</p>
            </article>
            <img src="../storage/img/menu.svg">
        </div>
    </header> 
    <main>
        <section class="section__tips">
            <h3>investing tips</h3>
            <article class="article__items">
                <article class="tips__item">
                    <img src="../storage/img/pig.svg">
                    <article class="tips__description">
                        <h4>What is an ETF?</h4>
                        <small>By James B, PHD</small>
                        <div>
                            <small>learn more</small>
                        </div>
                    </article>
                    <img src="../storage/img/close.svg">
                </article>
                <article class="tips__item">
                    <img src="../storage/img/pig.svg">
                    <article class="tips__description">
                        <h4>What is an ETF?</h4>
                        <small>By James B, PHD</small>
                        <div>
                            <small>learn more</small>
                        </div>
                    </article>
                    <img src="../storage/img/close.svg">
                </article>
            </article>
        </section>
        <section class="section__cards">
            <h3>my cards (4)</h3>
            <article class="article__navCards">
                <article class="article__card">
                    <img src="../storage/img/backgroundCard.svg">
                    <article class="cards__itemtop">
                        <img src="../storage/img/chip.svg">
                        <span>**** 6175</span>
                    </article>
                    <article class="cards__itemcenter">
                        <span>$<strong>1,500,000</strong></span>
                    </article>
                    <article class="cards__itembutton">
                        <img src="../storage/img/masterCard.svg">
                    </article>
                </article>
            </article>
        </section>
    </main>   
</body>
</html>