<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="../css/cards.css">
</head>
<body>
    <header class="header">
        <div class="header__app">
            <article class="article__nameApp">
                <img src="../storage/img/fast_color3.svg">
                <p>Runner</p>
            </article>
            <img src="../storage/img/menu_color3.svg">
        </div>
    </header> 
    <main>
        <section class="section__tips">
            <h3>investing tips</h3>
            <article class="article__items">
                <article class="tips__item">
                    <img src="../storage/img/pig.svg">
                    <article class="tips__description">
                        <h4>What is an ETF?</h4>
                        <small>By James B, PHD</small>
                        <div>
                            <small>learn more</small>
                        </div>
                    </article>
                    <img src="../storage/img/close.svg">
                </article>
                <article class="tips__item">
                    <img src="../storage/img/shot.svg">
                    <article class="tips__description">
                        <h4>What is an OPC?</h4>
                        <small>By James B, PHD</small>
                        <div>
                            <small>learn more</small>
                        </div>
                    </article>
                    <img src="../storage/img/close.svg">
                </article>
            </article>
        </section>
        <section class="section__cards">
            <h3>My cards (3)</h3>
            <article class="article__navcards">
                <article class="article__card">
                    <img src="../storage/img/background.jpg">
                    <article class="cards__itemtop">
                        <img src="../storage/img/chip.svg">
                        <span>**** 6175</span>
                    </article>
                    <article class="cards__itemcenter">
                        <span>$ <strong>1,500,000</strong></span>
                    </article>
                    <article class="cards__itembutton">
                        <img src="../storage/img/masterCard.svg">
                    </article>
                </article>
                <article class="article__card">
                    <img src="../storage/img/background.jpg">
                    <article class="cards__itemtop">
                        <img src="../storage/img/chip.svg">
                        <span>**** 4065</span>
                    </article>
                    <article class="cards__itemcenter">
                        <span>$ <strong>5,000,000</strong></span>
                    </article>
                    <article class="cards__itembutton">
                        <img src="../storage/img/visa.svg">
                    </article>
                </article>
                <article class="article__card">
                    <img src="../storage/img/background.jpg">
                    <article class="cards__itemtop">
                        <img src="../storage/img/chip.svg">
                        <span>**** 6100</span>
                    </article>
                    <article class="cards__itemcenter">
                        <span>$ <strong>2,500,000</strong></span>
                    </article>
                    <article class="cards__itembutton">
                        <img src="../storage/img/masterCard.svg">
                    </article>
                </article>
            </article>
        </section>
    </main>
    <footer class="footer">
        <section class="section__footer">
            <a href="../views/report.html"><img src="../storage/img/report_color1.svg"></a>
            <article class="article__footer">
                <img src="../storage/img/start.svg">
                <img src="../storage/img/point.svg">
            </article>
            <a href="../index.html"><img src="../storage/img/profile_color1.svg"></a>
        </section>
    </footer>   
</body>
</html>