<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <link rel="stylesheet" href="../css/report.css">
</head>
<body>
    <section class="section__background">
        <img src="../storage/img/backgroundReport.svg">
    </section>
    <header class="header">
        <div class="header__app">
            <article class="article__nameApp">
                <img src="../storage/img/fast.svg">
                <p>Runner</p>
            </article>
            <img src="../storage/img/menu.svg">
        </div>
    </header>
    <main>
        <section class="section__balance">
            <article class="article__description">
                <h2>Total balance</h2>
                <div>
                    <small>$</small>
                    <span>1,200,000</span>
                </div>
            </article>
        </section>
        <section class="section__bottons">
            <article class="article__bottons">
                <p>Assets</p>
                <p>Debt</p>
                <p>Income</p>
            </article>
        </section>
        <section class="section__graphic">
            <img src="../storage/img/graphic.svg">
            <article class="article__days">
                <h5>S</h5>
                <h5>M</h5>
                <h5>T</h5>
                <h5>W</h5>
                <h5>T</h5>
                <h5>F</h5>
                <h5>S</h5>
            </article>
        </section>
    </main>
    <footer class="footer">
        <section class="section__footer">
            <article class="article__footer">
                <img src="../storage/img/report.svg">
                <img src="../storage/img/point.svg">
            </article>
            <a href="../views/cards.html"><img src="../storage/img/start.svg"></a>
            <a href="../index.html"><img src="../storage/img/profile.svg"></a>
        </section>
    </footer>
</body>
</html>