<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <link rel="stylesheet" href="../css/report.css">
</head>
<body>
    <header class="header">
        <div class="header__app">
            <article class="article__nameApp">
                <img src="../storage/img/fast.svg">
                <p>Runner</p>
            </article>
            <img src="../storage/img/menu.svg">
        </div>
    </header>

    <footer class="footer">
        <section class="section__footer">
            <article class="article__footer">
                <img src="../storage/img/report.svg">
                <img src="../storage/img/point.svg">
            </article>
            <a href="../views/cards.html"><img src="../storage/img/start.svg"></a>
            <a href="../index.html"><img src="../storage/img/profile.svg"></a>
        </section>
    </footer>
</body>
</html>